@import "../variables";
@import "../global";

.declare {
  overflow: hidden;
}
.declare__background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.declare__background {
  width: 100%;
  filter: blur(4px);
  transform: scale(1.2);

  z-index: -1;
  max-width: 100%;
  height: auto;
}

.declare__image-wrapper {
  padding-top: 50px;
  .declare__image {
    width: 100%;
    max-width: 540px;
  }
}

h4 {
  font-size: 14px;
  line-height: 26px;
  color: $primary-red-color;
  font-weight: 700;
  margin-top: 30px;
}
h3 {
  margin-left: 0;
}

.section-article {
  font-size: 14px;
  line-height: 26px;
  color: $article-black-color;
}

@media screen and (min-width: 900px) {
  .declare__background-wrapper {
    height: 670px;
    left: -80%;
  }
  .declare__image-wrapper {
    padding: 0 15px;
    width: 50%;
    height: 304px;
    .declare__image {
      height: 100%;
    }
  }
  .declare__content-wrapper {
    padding-top: 60px;
  }
  .section-reverse {
    flex-direction: row-reverse;
    .declare__background-wrapper {
      left: 80%;
    }
  }
}

@media screen and (min-width: 1400px) {
  .declare__background-wrapper {
    height: 670px;
    left: -60%;
  }
  h3 {
    font-weight: 900;
  }
  .declare__image {
    height: 670px;
  }
  .section-reverse {
    flex-direction: row-reverse;
    .declare__background-wrapper {
      left: 60%;
    }
  }
}
