.hero {
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
  background-image: url("../../images/burger-bg.png");
  background-size: cover;
  overflow: hidden;
}
.hero__header {
  position: relative;
  width: 100%;
  height: 750px;
}
.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(225deg, #8c1346, #c94b4b);
  z-index: -1;
}

.header-logo {
  position: absolute;
  left: 15px;
  top: 0;
  font-size: 15px;
  opacity: 1;
  transform: translateX(-15px);
  animation: 1.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s i;
  animation-fill-mode: both;
  max-width: 133px;
}

@media screen and (min-width: 900px) {
  .hero {
    padding: 50px;
  }
  .hero__header {
    height: 530px;
  }
}

// Burger
.burger__wrapper-menu {
  position: absolute;
  right: 0;
  top: 0;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

h1 {
  text-align: center;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  width: 25px;
  height: 25px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 25px;
  height: 2px;
  background-color: #fff;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 1px;
}

.bar2,
.bar3 {
  top: 50%;
  transform: translateY(-50%);
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.checkbox1:checked + label > .hamburger1 > .bar1 {
  transform: rotate(45deg);
  transform-origin: 5%;
  width: 36px;
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
  transform: translateX(-40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
  transform: translateX(40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
  transform-origin: 5%;
  transform: rotate(-45deg);
  width: 36px;
}
// Hero content
.hero__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.burger-wrapper {
  margin: 0 calc(50% - 29vw);
  height: 305px;
  max-width: 260px;
  max-height: 308px;
}
.burger_image {
  width: 100%;
  max-width: 370px;
}

.hero__title {
  position: relative;
  font-size: 12px;
  letter-spacing: 1.07px;
  text-transform: uppercase;
}
.hero__title:after {
  content: "";
  display: block;
  width: 55px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 70px;
  background: #fff;
  z-index: 1;
}

h1 {
  position: relative;
  display: flex;
  flex-direction: row;
  font-stretch: extra-condensed;
  font-family: "Bebas Neue";
  span {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.25px;
    text-transform: uppercase;
  }
}
.hero__article {
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 900px) {
  .hero__content {
    flex-direction: row;
    justify-content: space-around;
  }
  .hero-content_wrapper {
    margin-left: 50px;
    margin-top: 50px;
    max-width: 570px;
  }
  .burger-wrapper {
    margin: 0 20px;
    max-width: 370px;
    width: 370px;
    max-height: 358px;
  }
  .burger_image {
    width: 370px;
    height: 530px;
    max-width: 370px;
  }
  .hero__title {
    font-weight: 400;
    line-height: 1.5;
  }
  h1 {
    span {
      font-size: 60px;
      font-weight: 400;
    }
  }
  .hero__title:after {
    top: 100px;
  }
  .hero__article {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
  }
}

// Foooter

.center_scroll {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 33px;
  border-radius: 15px;
  border: 2px solid #fff;
  transform: translateZ(0);
}
.center_scroll:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 5px;
  margin-left: -1px;
  width: 2px;
  height: 15px;
  background: #fff;
  border-radius: 2px;
  animation: g 2s infinite linear;
  transform-origin: 50% 0;
}

.hero__footer {
  position: relative;
  height: 100%;
}
.our-works_wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
}
.our-works {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 23px;
  font-family: sans-serif;
}
.our-works:hover:after {
  transition: 0.5s;
  width: 0;
}
.our-works:after {
  transition: 0.5s;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  left: 0;
  bottom: -2px;
}
.social {
  display: none;
}
@media screen and (min-width: 900px) {
  .center_scroll {
    left: 50%;
  }
  .social {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
  }
  .social-item {
    margin-right: 50px;
    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      transform: translateY(4px);
    }
    a {
      color: #fff;
      text-decoration: none;
      font-size: 19px;
    }
  }
  .social-item:hover:after {
    transition: 0.5s;
    width: 100%;
  }
  .social-item:after {
    transition: 0.5s;
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    left: 0;
    bottom: -2px;
  }
}
