@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "./variables";

body {
  position: relative;
  color: #fff;
  font-family: $primary-font;
  h1 {
    font-family: "Bebas Neue";
  }
}
.section-decor {
  display: flex;
  flex-direction: column;
  position: relative;
  color: $primary-black-color;
  padding: 0 15px;
}
// Vertical-line
.vertical-line__group {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.vertical-line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #ebebeb;
  z-index: -10;
}
.vertical-line_center {
  left: 50%;
}
.vertical-line_left {
  left: calc(50% - 350px);
  display: none;
}
.vertical-line_right {
  left: calc(50% + 350px);
  display: none;
}

// BTN
.btn {
  display: block;
  margin: 20px 0;
  text-align: center;
  height: 42px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 3px;
}

.light-btn {
  padding: 14px 19px 10px;
  border-radius: 3px;
  background-color: #fff;
  color: $primary-red-color;
  width: 186px;
  text-transform: uppercase;
}

.mobile-btn {
  background: $primary-red-color;
  width: 100%;
  font-size: 1rem;
}
.about-us__btn-desktop {
  display: none;
}

@media screen and (min-width: 900px) {
  .section-decor {
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 50px 264px;
    margin-top: 0;
    padding-left: calc(50% - 550px);
    padding-right: calc(50% - 550px);
  }
  .about-us__btn {
    display: none;
  }
  .desktop-small-btn {
    width: 127px;
  }
  .desktop-bigger-btn {
    width: 178px;
  }
  .about-us__btn-desktop {
    display: block;
  }
  .declare__content-wrapper {
    width: 50%;
    margin-left: 80px;
  }
  h4 {
    margin-bottom: 10px;
  }
  p {
    font-weight: 14px;
    font-weight: 900;
  }
  li {
    font-size: 30px;
  }

  .vertical-line_left,
  .vertical-line_right {
    display: block;
  }
}
